# Security
.env

# Python & Jupyter Caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data Guardrail (Prevents pushing massive raw files to GitHub)
data/01_raw/
data/02_intermediate/
data/03_processed/