# Data Manipulation & Core
pandas>=2.2.0
numpy>=1.26.4

# API & Web Scraping (Phase 1 & 2)
requests
python-dotenv
pytrends
yfinance

# Econometrics & Analysis (Phase 3)
statsmodels
scipy

# Visualization & Dashboard (Phase 4 & 5)
matplotlib
plotly
streamlit
jupyter